# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/ASP.NetCore-AngularWeb/DesignTimeBuild/.dtbcache.v2
Infrastructure/ASP.NetCore-AngularWeb.Infrastructure/obj/Debug/net6.0/ASP.NetCore-AngularWeb.Infrastructure.assets.cache
.vs/ASP.NetCore-AngularWeb/FileContentIndex/166da79a-fcb9-40d5-95e7-a2c98e89ec9b.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/6a1ab3ac-a8f2-42a5-b3db-46b3ebe0fd83.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/1ddf2dd0-01be-4ba8-afad-09457c871dbf.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/18557f1f-c122-4629-85bb-6507baf646ea.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/96c5792d-8cad-45fa-94c0-fa287244be50.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/a785da6a-7f5b-44ec-a6cb-d0eaa309e1e4.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/1dd35896-c1b1-4430-bea6-69c3c3629d89.vsidx
emarketingClient/src/app/uı/components/home/home.component.scss
EmarketingClient/src/app/app.component.html
.vs/ASP.NetCore-AngularWeb/FileContentIndex/7f16b2b4-8653-47eb-93de-5b154b3eea64.vsidx
Infrastructure/ASP.NetCore-AngularWeb.Persistence/obj/Debug/net6.0/ASP.NetCore-AngularWeb.Persistence.csproj.AssemblyReference.cache
.vs/ASP.NetCore-AngularWeb/v17/.futdcache.v2
.vs/ASP.NetCore-AngularWeb/FileContentIndex/3948f50c-fe92-43ee-a014-3119ca360501.vsidx
Presentation/ASP.NetCore-AngularWeb.API/obj/Debug/net6.0/ASP.NetCore-AngularWeb.API.csproj.AssemblyReference.cache
.vs/ASP.NetCore-AngularWeb/v17/.suo
Presentation/ASP.NetCore-AngularWeb.API/obj/project.assets.json
.vs/ProjectEvaluation/asp.netcore-angularweb.metadata.v7.bin
.vs/ASP.NetCore-AngularWeb/FileContentIndex/bf4a0938-30b3-41ed-a497-460838c743fd.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/c3dcd6ae-ae7b-420d-b76e-851ccdccd021.vsidx
Core/ASP.NetCore-AngularWeb.Application/obj/Debug/net6.0/ASP.NetCore-AngularWeb.Application.csproj.AssemblyReference.cache
EmarketingClient/src/app/admin/components/products/products.component.scss
.vs/ProjectEvaluation/asp.netcore-angularweb.metadata.v7.bin
