# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/ASP.NetCore-AngularWeb/DesignTimeBuild/.dtbcache.v2
Infrastructure/ASP.NetCore-AngularWeb.Infrastructure/obj/Debug/net6.0/ASP.NetCore-AngularWeb.Infrastructure.assets.cache
.vs/ASP.NetCore-AngularWeb/FileContentIndex/166da79a-fcb9-40d5-95e7-a2c98e89ec9b.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/6a1ab3ac-a8f2-42a5-b3db-46b3ebe0fd83.vsidx
.vs/ASP.NetCore-AngularWeb/FileContentIndex/1ddf2dd0-01be-4ba8-afad-09457c871dbf.vsidx
